<form method="GET" action="/prehistoric_creatures">
    <label for="nameFilter">Filter by name:</label>
    <input type="text" name="nameFilter" id="nameFilter">
    <button type="submit">Filter</button>
</form>


<ul>
    <% myPreCreatures.forEach(animal => { %>
    <li><%= animal.type %>    </li> 
    <% }) %> 
</ul>