<form method="POST" action="/prehistoric_creatures">
    
    <label for="animalType">Name:</label>
    <input type="text" placeholder="Type" name="type" id="animalType">
    
    <label for="animalURL" >Type:</label>
    <input type="text" placeholder="Image URL" name="img_url" id="animalURL">

    <button type="submit">Add a Prehistoric Creature!</button>
</form>
