<form method="POST" action="/dinosaurs">
    
    <label for="dinoName">Name:</label>
    <input type="text" placeholder="Name" name="name" id="dinoName">
    
    <label for="dinoType" >Type:</label>
    <input type="text" placeholder="Type" name="type" id="dinoType">

    <button type="submit">Add a Dino!</button>
</form>